<div class="card">
    <div class="container">   
       <div class="row">
            <h2>Nouveau client</h2>
            <hr noshade width="300" size="3" >
            <button mat-raised-button  (click)="openModal()">Ajouter un client</button>
              <div class="col-xl-4 "><hr noshade width="100%" size="3" align="left"></div>
              <div class="col-xl-4">ou faire une recherche</div>
              <div class="col-xl-4  "><hr noshade width="100%" size="3" align="right"></div>
              
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Recherche</mat-label>
                <input type="text"
                       placeholder=""
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of clients" (click)="this.selectOption(option)"  [value]="option.l1_normalise" >{{option.l1_normalisee}} "</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
        </div>
          
          
       </div>
  </div>