<div class="card">
    <div class="container">   
       <div class="row">
            <h2>Nouveau prestataire</h2>
            <hr noshade width="300" size="3" >
            <button mat-raised-button  (click)="openModal()">Ajouter un prestataire</button>
              <div class="col-xl-4 "><hr noshade width="100%" size="3" align="left"></div>
              <div class="col-xl-4">ou faire une recherche</div>
              <div class="col-xl-4  "><hr noshade width="100%" size="3" align="right"></div>
              
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Recherche</mat-label>
                <input type="text"
                       placeholder=""
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of contracteds" (click)="this.selectOption(option)"  [value]="option.l1_normalise" >
                    <div class="ant-card sc-fzXfNM cjwZtM ant-card-bordered ant-card-hoverable ant-card-small">
                      <div class="ant-card-head">
                      <div class="ant-card-head-wrapper">
                          <div class="ant-card-head-title">{{option.l1_normalisee}}</div>
                      </div>
                  </div>
                  <div class="ant-card-body">
                      <p class="sc-fzXfNL cjoCPD">{{option.streetName}}</p>
                  </div>
                  </div>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
        </div>
          
          
       </div>
  </div>