
    <div class="ant-card sc-fzXfNM cjwZtM ant-card-bordered ant-card-hoverable ant-card-small">
        <div class="ant-card-head">
        <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">{{this.date}}</div>
            <div class="ant-card-extra">
                <span class="sc-fzXfNl coyxtf">#{{this.cra.id}}</span>
                <span class="sc-fzXfNJ ciXJHl">{{this.daysSum}}J
                </span>
            </div>
        </div>
    </div>
    <div class="ant-card-body">
        <p class="sc-fzXfNK cjgglu">Prestataire :</p>
        <p class="sc-fzXfNL cjoCPD">{{this.contractedName}}</p>
        <p class="sc-fzXfNK cjgglu">Client : </p>
        <p class="sc-fzXfNL cjoCPD">{{clientName}}</p>
    </div>
    </div>


  
  
   
  