.cvoJMt {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    border: 4px dashed white;
    padding: 16px;
    width: 375px;
    height:100%;
}

@media screen and (max-width: 800px) {
    .cvoJMt {
      text-align: center;
      margin-left: 24px;
      height: 100px;
      width: 100%;
      
    }
    .h1,h2{
        text-align: center;
    }
    .body{
    background-color:#50d8af;
    }

  }
.cvoJMt:hover {
    background-color:#50d8af;
    border: transparent;
    color: white;
}

.cvoJMt:hover .cvFCUL {
    color: white;
}


.cvFCUL {
    color: #50d8af;
    font-size: 30px;
    border: 2px solid;
    border-radius: 50px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

span{
    font-size: 18px;
    font-family: Baloo\ 2,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}