<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top" id="logo"><img class="logo"
                    src="../../../assets/images/emainfo.png" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">Acceuil</a></li>
                    <li class="nav-item"><a class="nav-link" href="#service"> Nos Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/login"><button mat-raised-button
                                color="primary"> Connexion </button>
                        </a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/register"><button mat-raised-button
                                color="accent">Inscription </button>
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">GESTION DE CRA</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#service">Tell Me More</a>
        </div>
    </header>
    <!-- services -->
    <section class="page-section" id="service">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">SERVICES</h2>
            <h3 class="section-subheading text-muted">description</h3>
        </div>
        <div class="container" id="item">
            <div class="row" id="itemDetails">
                <div class="col-md-4 col-sm-4" id="serviceDescription">
                    <i><img class="imgService" src="../../../assets/images/service1.png" alt="#" /></i>
                    <h3> Service </h3>
                    <p>Desc</p>
                </div>
                <div class="col-md-4 col-sm-4" id="serviceDescription">
                    <i><img class="imgService" src="../../../assets/images/service2.png" alt="#" /></i>
                    <h3> Service </h3>
                    <p>Desc</p>
                </div>
                <div class="col-md-4 col-sm-4" id="serviceDescription">
                    <i><img class="imgService" src="../../../assets/images/service3.png" alt="#" /></i>
                    <h3> Service </h3>
                    <p>Desc</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4" id="serviceDescription">
                    <i><img class="imgService" src="../../../assets/images/service4.png" alt="#" /></i>
                    <h3> Service </h3>
                    <p>Desc</p>
                </div>
                <div class="col-md-4 col-sm-4" id="serviceDescription">
                    <i><img  class="imgService" src="../../../assets/images/service5.png" alt="#" /></i>
                    <h3> Service </h3>
                    <p>Desc</p>
                </div>
                <div class="col-md-4 col-sm-4" id="serviceDescription">
                    <i><img class="imgService" src="../../../assets/images/service6.png" alt="#" /></i>
                    <h3> Service </h3>
                    <p>Desc</p>
                </div>
            </div>
            </div>

    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="titre">Tu as une question ? Contacte-nous !</div><br>
                        <div class="description">Tu as une remarque, des idées, un soucis, ou juste envie de discuter ?
                        N’hésite pas à nous contacter, on te répondra très rapidement.</div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <div class="row align-items-stretch mb-5">
                                    <div class="form-group">
                                        <!-- Name input-->
                                        <input class="form-control" id="name" type="text" placeholder="Your Name *"
                                            data-sb-validations="required" />
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                    </div>
                                    <div class="form-group">
                                        <!-- Email address input-->
                                        <input class="form-control" id="email" type="email" placeholder="Your Email *"
                                            data-sb-validations="required,email" />
                                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                    </div>
                                    <div class="form-group mb-md-0">
                                        <!-- Phone number input-->
                                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *"
                                            data-sb-validations="required" />
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.
                                        </div>
                                    </div>
                                
                                    <div class="form-group form-group-textarea mb-md-0">
                                        <!-- Message input-->
                                        <textarea class="form-control" id="message" placeholder="Your Message *"
                                            data-sb-validations="required"></textarea>
                                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.
                                        </div>
                                    </div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center text-white mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a
                                        href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>
                            <!-- Submit Button-->
                            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled"
                                    id="submitButton" type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
            </div>

            
        </div>
    </section>
    <!-- Footer-->
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-2 item">
                        <img class="logo"
                    src="../../../assets/images/emainfo.png" alt="..." />
                    </div>
                    <div class="col-sm-4 col-md-2 item">
                        <h3>Accueil</h3>
                        <ul>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">service1</a></li>
                            <li><a href="#">service2</a></li>
                            <li><a href="#">service3</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2 item">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 item social"><a href="#"><img class="logo" src="../../../assets/images/facebook.png" alt="..." /></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">emainfo © 2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    