  <div class = "container">
    <img src='{{ this.avatar }}' alt="Avatar" class="image">
    <div class="overlay">
      <input #imageInput
      type="file"
      accept="image/*"
      (change)="change($event)">
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class="col">
  <div class="ant-card sc-fzXfNM cjwZtM ant-card-bordered ant-card-hoverable ant-card-small">
      <div class="ant-card-head">
      <div class="ant-card-head-wrapper">
          <div class="ant-card-head-title">Informations personelles </div>

      </div>
  </div>
  <div class="ant-card-body">
      <form [formGroup]="form"  class="form" >
      <div class="container-fluid">
          <div class="row">
                       <br>
                    <mat-form-field appearance="outline" class="form">
                      <input matInput  value="{{this.account.email}}" disabled >
                    </mat-form-field>
              </div>
              <div class="row">
                       <br>
                    <mat-form-field appearance="outline" class="form">
                      <mat-label>{{this.account.firstName}}</mat-label>
                      <input matInput formControlName="firstname" class="holder" placeholder="">
                    </mat-form-field>
              </div>
          <div class="row">
                      <br>
                    <mat-form-field appearance="outline" class="form">
                      <mat-label>{{this.account.lastName}}</mat-label>
                      <input matInput formControlName="lastname"  class="holder" placeholder="">
                    </mat-form-field>
          </div>
                  <button id = "updateContracted" mat-raised-button (click)=onSubmit() >Enregistrer</button>
      </div>
      </form>
  </div>


  </div>
</div>
<div class="col">
  <div class="ant-card sc-fzXfNM cjwZtM ant-card-bordered ant-card-hoverable ant-card-small">
      <div class="ant-card-head">
      <div class="ant-card-head-wrapper">
          <div class="ant-card-head-title">Signature</div>
      </div>
  </div>
  <div class="ant-card-body" *ngIf="this.signatureImg">
    Ta signature sera automatiquement ajoutée à la génération de tes CRA. 
      <img src='{{ this.signatureImg }}' class="sc-fzXfMA cchxnX sigCanvas"/>
          <div class="col">
                  <button id = "updateSignature" mat-raised-button (click)=openModal() >Modifier la signature</button>
          </div>
          <div class="col">
            <button id = "deleteSignature" color="warn" mat-raised-button (click)=deleteSignature() >Supprimer la signature</button>
    </div>
  </div>

  <div class="ant-card-body" *ngIf="!this.signatureImg">
    Tu as la possibilité d'ajouter ta signature directement sur tes CRA en l'enregistrant ici :     
          <div class="col">
                  <button id = "updateSignature" mat-raised-button (click)=openModal() >Ajouter une signature</button>
          </div>

  </div>


  </div>
</div>

</div>
</div>

 
