.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .other{
      margin-left: 2%;
  }

  mat-radio-button{
    margin-top: 2%;
    margin-bottom: 2%;
  }




  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: blue !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: blue!important;   /*inner circle color change*/
  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:blue!important; /*outer ring color change*/
  }

  mat-form-field{
    margin-bottom: 10px;
    margin-top: -20px;
  }

  #close{
    width: 150px;
    position: center;
  }

  button{
    background-color: #50d8af;
    width: 150px;
  }

